// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 #green{
	background-color: #3C8D2F;
 }

 #green h4, #green li, #green a {
 	color: white;
 }

 td a {
 	color: green;
 }	 








